#home .home_area {
    width: 52%;
}

@media screen and (max-width: 1024px){
#token .token_txt_area p {
    line-height: 25px;
    width: 90%;
}
#features .feat_area .features_first p {
    width: 90%;
}
}


#features02 .featurs_four .featu04_txt p{
    width:50%;
}

@media screen and (max-width:911px){
    #features02 .featurs_four .featu04_txt p {
        width: 100%;
    }
    
}

@media screen and (max-width:425px) {

    #token .token_txt_area p {
        line-height: 25px;
        width: 100%;
    }
}

