*{margin:0; padding:0; box-sizing:border-box;   font-family: 'SUIT-Medium';}
    a{text-decoration : none;}
    address{font-style:normal;}

    @media (min-width:1521px){
              .container{
                max-width: 1521px;
              }
            }
                @font-face {
                    font-family: 'SUIT-Medium';
                    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
                    font-weight: normal;
                    font-style: normal;
 }


h3{
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
}

/*헤더*/
header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #fff;
    position: fixed;
    z-index: 999;
    top: 0;
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.4s;
    transition-timing-function:ease;
  }

  header.activated{
      border-bottom: none;
    background-color:#e4be55ab;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  header .hd_wrap {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .hd_wrap hgroup {
      position:absolute;
      left: 20%;
    margin-top: 5px;
    width: 100px;
  }
  
  .hd_wrap hgroup h1 img {
    max-width: 60%;
    margin-top: 15px;
    vertical-align: middle;
  }
  
  
  
  .pc_wrap {
      text-align: center;
      margin-left: 45px;
  }
  
  
  .pc_wrap ul li {
    display: inline-block;
    line-height: 100px;
    font-size: 17px;
    text-align: center;
    margin-right: 80px;
  }
  
  
  .pc_wrap ul li:last-child {
    margin-right: 0;
  }
  
  
  
  header .hd_wrap .pc_wrap ul li img {
    max-width: 100%;
    vertical-align: middle;
  }
  
  header .hd_wrap .pc_wrap ul .lan_btn {
    position: relative;
    padding-right: 25px;
  }
  
  header .hd_wrap .pc_wrap ul .lan_btn::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 40px;
    background-color: rgba(105, 89, 46, 0.2);
    top: 30px;
    right: 0;
    border-radius: 10px;
    z-index: -1;
  
  }
  
 
  
  .pc_wrap ul li.lan_btn:hover .lan_ul {
    display: block;
  }
  
  .pc_wrap ul a {
    color: #535353;
    text-decoration: none;
    z-index: 10;
    font-weight: bold;
    font-size: 1.2em;
  }
  .pc_wrap ul li:hover a{
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  .pc_wrap ul li.lan_btn{
      font-size: 14px;
  }
  .pc_wrap ul li a i{
      vertical-align: middle;
  }

  
  
  
  
  
  /*반응형*/
  .ham_bt {
    display: none;
    position: absolute;
    top: 30%;
    right: 5%;
  }
  .ham_bt img{
      width: 44px;
  }
  
  .m_wrap {
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    height: auto;
    line-height: 3;
    background-color: rgba(162, 123, 0, 0.78);
    padding: 30px;
    transition: all .5s ease;
    text-align: center;
    border-radius: 0 0 30px 30px;
  }
  
  .hd_wrap .m_wrap ul .lan_btn {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 50px;
    background-color: #fff;
    border-radius: 30px;
  }
  
  .hd_wrap .m_wrap ul li .scroll {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
  }
  
  .m_wrap .lan_btn img {
    width: 30px;
    padding-right: 10px;
  }
  
  .hd_wrap .m_wrap ul .lan_btn .lan_ul {
    position: absolute;
    top: 51px;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.77);
    border-radius: 30px;
    text-align: center;
    display: none;
  }
  
  .hd_wrap .m_wrap ul li:hover a {
    color: #003E6C;
  }
  
  .hd_wrap .m_wrap ul .lan_btn .lan_ul a {
    display: block;
    text-decoration: none;
  }
  
  .hd_wrap .m_wrap ul .lan_btn:hover .lan_ul {
    display: block;
  }
  
  
  .nav-up {
    top: -100px;
  }
  
  
  
  

#home{
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    overflow:hidden;

}
#home .home_area{
    position: absolute;
    width: 55%;
    top: 40%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home .home_area .htxt_box{

}

#home .home_area .htxt_box h2{
    font-size: 3em;
    line-height: 1.6;
    font-weight: 700;
    text-align: center;
}

#home .home_area .btn_box{
    display:flex;
}

#home .home_area .btn_box .btn{
    padding: 15px 50px;
    border:2px solid #69592E;
    background-color:rgba(255, 255, 255, 0.6);
    margin: 10px;
    width: 240px;
}

#home .home_area .btn_box .btn:hover{
    background-color:rgba(255, 255, 255, 0)
}

#home .home_area .btn_box .btn a{
    text-decoration: none;
}

#home .home_area .btn_box .btn :hover a{
    cursor: pointer;
    color: #fff;
}

#home video{
    width: 100%;
}


/* 어바웃 */
#about{
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;

}
#about::after{ 
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/about_bg.png) no-repeat top center;
    z-index: -1;
}

#about .about_area{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#about .about_area .ab_img{
    width: 50%;
}
#about .about_area .ab_img img{
    width: 100%;
}
#about .about_area .ab_txt{
    text-align:center;
    width: 50%;

}

#about .about_area .ab_txt p{

    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 2px solid #38333A;
    padding: 30px;
    line-height: 1.8;
    font-size: 18px;
}


/* puatu1 */

#features{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #F3F1EB;
    box-sizing: border-box;
    z-index: -2;
    overflow: hidden;

}
#features::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:url(../img/featu_bg.png) no-repeat top center;
    z-index: -1;
}

#features .feat_area .features_first {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 200px;
}
#features .feat_area .features_first .hac_img_circle{
    width: 300px;
    height: 300px;
    background:rgba(196, 196, 196, 0.6) ;
    border-radius: 50%;
    border: 2px solid #E4BF55;
}
#features .feat_area .features_first .hac_img_circle img{
    width: 100%;
    padding: 40px;
}
#features .feat_area .features_first p{
    padding-top: 30px;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
#features .feat_area .features_first div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* featu2 */


#features .featurs_second{
    padding-top:300px;
    height:80vw;
}
#features .featurs_second .hac_token_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}
#features .featurs_second .hac_token_icon h4{
    position: relative;
}
#features .hac_token_icon h4::after{
    content:'';
    display: block;
    background-color:#E6C76A;
    width:100px;
    height:100px;
    position: absolute;
    left: -54px;
    bottom: 34px;
    border-radius: 50%;
    z-index: -10;

}
#features .featurs_second img{
    width: 160px;
    margin-bottom: 30px;
}
#features .featurs_second .hac_icon_area .icon.f img{
    width: 120px;
}
#features .featurs_second .hac_icon_area .icon.d img{
    width: 120px;
}

#features .featurs_second .hac_icon_area .arrow img{
    width:53px
    
}
#features .featurs_second .hac_icon_area .icon{
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#features .featurs_second .hac_icon_area .icon::after{
    content:'';
    display: block;
    background-color:#E6C76A;
    width:100px;
    height:100px;
    position: absolute;
    left: 66px;
    bottom: 34px;
    border-radius: 50%;
    z-index: -10;

}
#features .featurs_second .hac_icon_area .icon.c::after{
    display: none;
}
#features .featurs_second .hac_icon_area .icon.c{
    position: relative;
}
#features .featurs_second .hac_icon_area .icon h5{
    background:#000;
    color: #fff;
    width:250px;
    padding:15px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    position: relative;

}
#features .featurs_second .hac_icon_area .icon p{
    width:90%;
    height:250px;

    font-size: 18px;
    text-align: center;
}
#features .featurs_second .hac_icon_area .icon p::after{
    content:"";
    display: block;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 20px;
    left: 37px;
    border: 2px solid #000;
    border-radius: 15px;
    z-index: -1;
}


#features .featurs_second .hac_icon_area{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#features .featurs_second .icon.b img {
    width: 100px;
}
#features .featurs_second .hac_icon_area .icon.a{
    order:1;
}
#features .featurs_second .hac_icon_area .arrow.A{
    order:2;
}
#features .featurs_second .hac_icon_area .icon.b{
    order:3;
}
#features .featurs_second .hac_icon_area .arrow.B{
    order:4;
}
#features .featurs_second .hac_icon_area .icon.c{
    order:5;
}
#features .featurs_second .hac_icon_area .arrow.C{
    order:6;
}
#features .featurs_second .hac_icon_area .icon.d{
    order:12;
}
#features .featurs_second .hac_icon_area .arrow.D{
    order:11;
}
#features .featurs_second .hac_icon_area .icon.e{
    order:10;
}
#features .featurs_second .hac_icon_area .arrow.E{
    order:9;
}
#features .featurs_second .hac_icon_area .icon.f{
    order:8;
}
#features .featurs_second .hac_icon_area .arrow.C  {
    display:flex;
    width:100%;
    margin-right: 280px;
    padding: 50px 0;
    flex-direction:row-reverse;
}
#features .featurs_second .hac_icon_area .arrow.C img {
    transform:rotate(90deg);
}
#features .featurs_second .hac_icon_area .arrow.D{
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
}
#features .featurs_second .hac_icon_area .arrow.D img {
    transform:rotate(180deg);

}
#features .featurs_second .hac_icon_area .arrow.E img {
    transform:rotate(180deg);

}


/* featu3 */
#features02{
    background-color: #38333A;
    position: relative;
    z-index: -2;
    padding-top: 120px;
    overflow: hidden;
    width:100%
}
#features02 .featurs_third {
    text-align: center;
    box-sizing: border-box;
}
#features02 .featurs_third .featu03_txt p{
    font-size: 28px;
}
#features02 .featurs_third::after{
    content: "";
    display: block;
    width: 3200px;
    height: 1500px;
    background-color: #F3F1EB;
    transform: rotate(155deg);
    position: absolute;
    right: -57px;
    top: -798px;
    z-index: -1;

}

#features02 .featurs_four{
    color: #fff;
    padding-top: 400px;
    position: relative;
    padding-bottom: 300px;
}
#features02 .featurs_four .featu04_txt{}

#features02 .featurs_four .featu04_txt p{
    font-size: 25px;
}

#features02 .featurs_four .featu04_txt ul{
    padding-top: 50px;
}
#features02 .featurs_four .featu04_txt ul li{
    font-size: 26px;
    display: flex;
    line-height: 2;
    align-items: center;
}
#features02 .featurs_four .featu04_txt ul li img{
    margin-right: 15px;
}

#features02 .bg{
    transform: rotate(-20deg);
    position:absolute;
    bottom:200px;
    right:0;
    z-index: -2;
}
#features02 .bg img{
 width: 80%;
}



/*토큰*/

#token {
    width: 100%; 
    padding: 100px 0;
}

.token_area{
    display: flex;
    justify-content:space-around;
    align-items:center;
}
#token .token_txt_area{
    width: 60%;
}

#token .token_txt_area p{
    line-height: 25px;
    width:60%
}

.token_int{
    overflow: hidden;
    margin: 20px 0;
}

.token_int div{
    width: 50%;
    float: left;
}

.token_int div h4{
    font-weight: 600;
    font-size: 18px;
}

.token_int div h4 img{
    vertical-align: middle;
    margin-right: 10px;
    max-width: 100%;
}

.token_int div p{
    margin-left: 40px;
}

.token_sq p span{
    display: inline-block;
    width:20px;
    height:20px;
    margin-right: 20px;
    vertical-align: middle;
}

.token_sq p .sq1{background-color: #99813D ;}
.token_sq p .sq2{background-color: #0F1D4D ;}
.token_sq p .sq3{background-color: #3D5299 ;}
.token_sq p .sq4{background-color: #4D3E17 ;}
.token_sq p .sq5{background-color: #E5C773 ;}


.token_circle img{
    max-width: 100%;
    padding: 20px;
    border: 5px solid #38333A;
    border-radius: 50px;
}



/*roadmap*/
#roadmap{
    background-color: #38333A;
    width: 100%;
    padding: 150px 0;
}

.roadmap{
    color: #fff;
    text-align: center;
}

.roadmap .sec_div{
    overflow: hidden;
    margin-top: 100px;
}

.sec_div div{
    width: 22%;
    height: 150px;
    margin-left: 3%;
    float: left;
    color: #000;
    border: 2px solid #F2DA71;
    border-radius:30px ;
}

.sec_div div:nth-child(4){
    margin-bottom:20px;
}

.sec_div div p{
    background-color: #fff;
    margin: 10px;
    border-radius: 30px;
    height: 85%;
    padding: 20px;
    line-height: 25px;
    width: 94%;
}


/*오른쪽화살표*/
.speech-bubble {
	position: relative;
	background: #fff;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 23px solid transparent;
	border-left-color: #fff;
	border-right: 0;
	margin-top: 50px;
	margin-right: -175px;
}


/*왼쪽화살표*/
.speech-bubble2 {
	position: relative;
	background: #fff;
	border-radius: .4em;
}

.speech-bubble2:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 23px solid transparent;
	border-right-color: #fff;
	border-left: 0;
	margin-top: 50px;
	margin-left: -175px;
}


/*아래화살표*/
.speech-bubble3 {
	position: relative;
	background: #fff;
	border-radius: .4em;
}

.speech-bubble3:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 23px solid transparent;
	border-top-color: #fff;
	border-bottom: 0;
	margin-left: -23px;
	margin-bottom: -157px;
}




/*푸터*/

footer{
    width: 100%;
    overflow: hidden;
    padding: 50px  0 0px 0;
    position: relative;
}

.footer_Area{
    text-align: center;
}

.footer_Area .c{
    font-size: 14px;
    color: rgb(146, 146, 146);
}

.logo_f img{
    max-width:10%;
    vertical-align: middle;
}

.contact{
    margin:50px 0;
}

.contact div{
    display: inline-block;
    margin-right: 50px;
}

.contact h5{
    font-size: 17px;
}

.contact p{
    color: rgb(82, 82, 82);
}

.contact .si_button a{
    display: block;
    width: 200px;
    padding: 5px 0;
    background-color: #E6C76A;
}




.footer_sns{
    position: absolute;
    right:200px;
    top: 50px;
}

.footer_sns a{
    display: block;
    border: 3px solid #867D64;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 10px;
}


.footer_sns a img{
    max-width: 60%;
    vertical-align: middle;
}
